@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-normal;
  scroll-behavior: smooth
}

body {
  @apply bg-gradient-to-br from-zinc-900 via-zinc-800 to-black font-basic text-sm font-medium text-text;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px theme("colors.bg") inset;
  -webkit-text-fill-color: white;
}

.ReactCollapse--collapse {
  transition: height .5s ease, padding .5s ease;
}

.recharts-tooltip-label {
  @apply text-black
}